#Profile{
    width: 100%;
    height: 100%;
}

#Profile > h1{
    /* border: 1px solid red; */
    height: 10%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    font-size: 3vh;
    color: #666;
}

.label{
    /* border: 1px solid red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 7%;
    margin-left: 5%;
}

.label h3{
    /* border: 1px solid red; */
    font-size: 1.7vh;
    display: flex;
    align-items: center;
    width: 70%;
}

.label h3 span{
    font-weight: 300;
    margin-left: 5%;
}

.label button{
    background-color: #666;
    color: white;
    width: 17%;
    height: 70%;
    border-radius: 10px;
    font-size: 1.7vh;
}

button i{
    font-size: 2.2vh;
}

#Profile form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Profile form .editForm{
    width: 60%;
    display: flex;
    align-items: center;
    height: 100%;
}
#Profile form .editForm p{
    font-size: 1.7vh;
    font-weight: 700;
}
#Profile form .editForm input{
    height: 70%;
    width: 70%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #aaa;
    margin-left: 5%;
    padding:0 5%;
}
#Profile form .editButtons{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#Profile form .editButtons button{
    width: 40%;
    height: 70%;
    margin: auto;
    font-size: 1.5vh;
}